@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/rubik";

@custom-variant dark (&:is(.dark *));

:root {
  /* Neobrutalism "kurenai" theme */
  --main: #cb1b45;
  --main-foreground: #000000;
  --background: #fbe4e9;
  --secondary-background: #f0dbe0;
  --foreground: #000000;
  --border: #000000;
  --ring: #000000;
  --overlay: rgba(0, 0, 0, 0.8);
  --shadow: 4px 4px 0px 0px var(--border);

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.dark {
  --background: #1a0509;
  --secondary-background: #2b2226;
  --foreground: #f2f2f2;
  --main-foreground: #000000;
  --ring: #ffffff;
}

body {
  margin: 0;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Rubik Variable', sans-serif;
  --color-main: var(--main);
  --color-main-foreground: var(--main-foreground);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-overlay: var(--overlay);
  --shadow-shadow: var(--shadow);
  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 5px;
  --font-weight-base: 500;
  --font-weight-heading: 700;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}